# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# JAVA / SPRING BOOT
# ===============================
target/
*.class
*.jar
*.war
.gradle/
.mvn/

# ===============================
# NODE / REACT
# ===============================
node_modules/
dist/
build/

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# ENV / SECRETS
# ===============================
.env
.env.*
application.properties
application.yml
